<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="card shadow-effect">
                <img class="card-img-top img-fluid" src="https://images.pexels.com/photos/18903418/pexels-photo-18903418/free-photo-of-people-walking-down-the-street-in-front-of-a-coffee-house.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load" alt="">
                <div class="card-body">
                    <small class="bg-light text-center text-danger">Design &nbsp; &nbsp;</small>
                    <small class="bg-light text-center text-success ml-4">Featured &nbsp; &nbsp;</small>
                    <small class="bg-light text-center text-info ml-4">Views - 223,144&nbsp; &nbsp;</small>
                    <small class="bg-light text-center text-warning ml-4">Last Updated - Sep 20, 2021</small>

                    <h1 class="mb-3 mt-3">This is demo heading</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia minima dolor, sint laudantium deserunt fuga facilis incidunt voluptatibus doloremque id doloribus, ipsam maiores accusamus vitae non, dolore pariatur odit facere?
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam sunt tempora iste veritatis excepturi assumenda quibusdam similique quae placeat nisi. Beatae molestiae repellat fugiat eum facere quibusdam consequuntur, pariatur quisquam!

                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ad fuga, harum amet laborum, ratione nihil ducimus unde consequuntur necessitatibus totam neque. Sit dolores nobis sequi aut ullam blanditiis, delectus ex.
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium cumque molestias, repellendus velit deserunt magnam praesentium aliquam laborum minus quia dolores labore commodi omnis at eaque minima quas aut aperiam!
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, dolorum. Voluptate facilis, expedita quibusdam ipsam iste praesentium. Ducimus sed aliquam voluptatem neque obcaecati, autem, iusto sapiente nihil culpa, sit placeat.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <app-post-card></app-post-card>
            <app-post-card></app-post-card>

            <app-post-card></app-post-card>

        </div>
    </div>
</div>