<div class="card shadow-effect">
    <img src="https://images.pexels.com/photos/19450117/pexels-photo-19450117/free-photo-of-veins-of-the-earth.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load"  alt="post img" class="card-img-top">
    <div class="card-body">
        <small class="bg-light text-danger text-center">Design</small>
        <small class="bg-light text-success text-center ml-3">Featured</small>
        <small class="bg-light text-info text-center">Views - 100,234</small>
        <h5 class="mt-1">Dummy Title</h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus provident, esse nisi rerum dolore suscipit sed impedit. Et doloremque illo, odit dolores assumenda inventore omnis nobis perspiciatis iure! Consequatur, perspiciatis!</p>
        <small class="bg-light text-warning text-center">Last Updated - Sept 20, 2023</small>

</div>
</div>